html,
body,
.pagina {
    background: #2b2b2b;
    font-family: 'Economica', sans-serif;
    height: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

div.pagina > header {
    font-size: 22pt;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 100%;
    padding: 0 5px;
    position: fixed;
    background: #2b2b2b;
    display: block;
    border-color: #2b2b2b;
    color: #d6264f;
    z-index: 1;
    opacity: 0.8;
}

div.pagina > footer {
    height: auto;
    width: 100%;
    font-size: 16pt;
    display: block;
    background-color: #2b2b2b;
}

div.pagina > footer > ul {
    margin: 0;
    padding: 0;
    background: #2b2b2b;
}

div.pagina > footer > ul > li {
    list-style-type: none;
    display: inline-block;
    background-color: #d6264f;
    margin: 0;
    padding: 0;
    width: auto;
    border: 2px solid #d6264f;
}

div.pagina > footer > ul > li > a {
    color: #2b2b2b;
    margin: 0;
    width: 100%;
    text-decoration: none;
    display: block;
    line-height: 56px;
    text-align: center;
    padding: 0;

}

div.index,
div.login {

    overflow-y: scroll;
}

.error {
    color: white;
    background: red;
    width: 100%;
    text-align: center;
    font-size: 15pt;
    line-height: 40px;
}

form.login {
    width: 95%;
    padding: 0 5px;
    margin: 20px auto 5px auto;
}

form.login > p.logo {
    margin: 0 auto;
    width: 127px;
    height: 163px;
    border-color: #2b2b2b;
    background: url('images/logorasp.png');
}

form.login > p.input {
    padding-top: 0;
}

form.login > p.input > input {
    display: block;
    font-size: 22pt;
    color: white;
    background-color: #2b2b2b;
    border: 2px solid #d6264f;
    line-height: 40px;
    height: 60px;
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
    font-family: 'Economica', sans-serif;
    border-radius: 0;

}

form.login > p.button {
    background-color: #d6264f;
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    line-height: 60px;
    padding: 0 5px;
    display: block;
    color: #2b2b2b;
    margin-top: 15px;
    margin-bottom: 2px;
}

div.index > section {
    margin-top: 65px;
}

section.mainMenu > p.category {
    color: white;
    width: 95%;
    margin: 10px auto;
    height: 50px;
    padding: 0 5px;
    line-height: 50px;
    font-size: 18pt;
    border-bottom: 3px solid #d6264f;
    background: #353232;
}

section.mainMenu > ul.scripts {
    width: 95%;
    margin: 2px auto;
    padding: 0 5px;
    display: none;
}

section.mainMenu > ul.scripts > li {
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 20pt;
    background: #333;
    color: white;
    border: 1px solid black;
}

section.mainMenu > ul.scripts > li:hover {
    background: #2b2b2b;
}
